@using MudBlazor

<div class="d-flex align-center pa-4">
    <MudIcon Icon="@Icons.Material.Filled.Web" Size="Size.Large" Color="Color.Primary" />
    <MudText Typo="Typo.h6" Class="ml-2">BlazorTemplate</MudText>
</div>
