@if (Type == LoadingType.Spinner)
{
    <div class="d-flex flex-column align-center justify-center pa-8">
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
        <MudText Typo="Typo.body2" Class="mt-4">@Message</MudText>
    </div>
}
else if (Type == LoadingType.Skeleton)
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="@($"{Height}px")" />
}
else if (Type == LoadingType.Linear)
{
    <MudProgressLinear Indeterminate="true" Color="Color.Primary" />
}

@code {
    [Parameter] public string Message { get; set; } = "Loading...";
    [Parameter] public LoadingType Type { get; set; } = LoadingType.Spinner;
    [Parameter] public int Height { get; set; } = 100;
}
